.movies {
    display: flex;
    flex-direction: column;
}

.movies__not-found {
    margin: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }