.navigation {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navigation__logo {
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: opacity .5s ease 0.5s;
    padding: 0;
}

.navigation__logo:hover {
    opacity: 0.6;
}

.navigation__button {
    min-width: 40px;
    min-height: 43px;
    background-image: url(../../images/icon__COLOR_icon-main.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .5s ease 0.5s;
    padding: 0;
    cursor: pointer;
    border: none;
}

@media screen and (min-width: 768px) {
    .navigation__button {
        min-width: 44px;
        min-height: 43px;
    }
}

@media screen and (min-width: 1280px) {
    .navigation__button {
        display: none;
    }
}

.navigation__button:hover {
    opacity: 0.6;
}

.navigation__info {
    display: flex;
}

.navigation__link {
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    transition: opacity .5s ease 0.5s;
    cursor: pointer;
    min-width: 54px;
    height: 26px;
    padding-top: 5px;
    margin-top: 6px;
    margin-left: 14px;
}

.navigation__link:first-child {
    margin-left: 0;
}

.navigation__link:hover {
    opacity: 0.6;
    background: #2BE080;
    border-radius: 3px;
}

.navigation-nav__info {
    display: none;
}

@media screen and (min-width: 1280px) {
    .navigation-nav__info {
        display: flex;
        height: 32px;
    }
}

.navigation-nav__link {
    margin: 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #000000;
    transition: opacity .5s ease 0.5s;
    cursor: pointer;
    text-decoration: none;
    padding-top: 10px;
}

.navigation-nav__link:hover {
    opacity: 0.6;
}

.navigation-nav__link_active {
    font-weight: 500;
}

.navigation-nav__link:nth-child(2) {
    margin-left: 16px;
}

.navigation-nav__link:nth-child(3) {
    padding-top: 0;
    min-width: 100px;
    height: 32px;
    margin-left: 364px;
    background-image: url(../../images/profile.svg);
    background-position: center;
    background-repeat: no-repeat;
}