.menupopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0.5s, opacity 0.5s linear;
    opacity: 0;
    visibility: hidden;
}

.menupopup_opened {
    opacity: 1;
    visibility: visible;
  }

@media screen and (min-width: 1280px) {
    .menupopup {
        display: none;
    }
}

.menupopup__container {
    min-width: 320px;
    max-width: 520px;
    min-height: 100vh;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
}

@media screen and (min-width: 768px) {
    .menupopup__container {
        min-width: 520px;
    }
}

.menupopup__close {
    position: absolute;
    top: 22.44px;
    right: 22.44px;
    width: 22px;
    height: 22px;
    background-image: url(../../images/close-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border-style: none;
    padding: 0;
    transition: opacity .5s ease 0.5s;
    cursor: pointer;
}

.menupopup__close:hover {
    opacity: 0.6;
}

.menupopup__info {
    margin: 144px 10px 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .menupopup__info {
        margin: 159px 90px 90px;
    }
}

.menupopup__link {
    margin-top: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    transition: opacity .5s ease 0.5s;
    cursor: pointer;
}

.menupopup__link:hover {
    opacity: 0.6;
    padding-bottom: 7px;
    border-bottom: 1px solid #000000;
}

.menupopup__link:first-child {
    margin-top: 0;
}

.menupopup__link:nth-child(4) {
    margin-top: calc(100% - 46px);
    background-image: url(../../images/profile.svg);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100px;
    height: 32px;
}

@media screen and (min-width: 768px) {
    .menupopup__link {
        margin-top: 28px;
    }
    .menupopup__link:hover {
        padding-bottom: 4px;
    }
    .menupopup__link:nth-child(4) {
        margin-top: calc(100% - 90px);
    }
}
