.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 38px 30px 30px;
}

@media screen and (min-width: 768px) {
    .register {
        margin: 232px 186px;
    }
}

@media screen and (min-width: 1280px) {
    .register {
        margin: 70px 442px;
    }
}

.register__link {
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: opacity .5s ease 0.5s;
    padding: 0;
}

.register__link:hover {
    opacity: 0.6;
}

@media screen and (min-width: 768px) {
    .register__link {
        align-self: start;
    }
}

